/* Text */

.text {

  /* Strong */

  strong {
    font-weight: $strong-weight;
  }

  /* Blockquotes */

  blockquote {
    padding: 1em 1.5em;
    margin-left: 0;
    margin-right: 0;
    background: rgba(#afafaf, .1);
    border-left: 2px solid $main-color;
  }

  /* Links */

  a {
    text-decoration: none;

    &:not(.button) {
      color: $main-color;
    }
    &:not(.button):hover,
    &:not(.button):focus {
      outline: none;
      text-decoration: underline;
    }
  }

  /* Images */

  img {
    max-width: 100%;
    display: inline-block;
  }
  figure {
    display: table;
    margin: 1em 0;
  }
  figure figcaption {
    display: table-caption;
    caption-side: bottom;
    line-height: 1.3em;
    color: #777;
    font-size: 13px;
  }
  img.right,
  img.align_right,
  img.align-right,
  figure.align_right,
  figure.align-right {
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0;
  }
  img.left,
  img.align_left,
  img.align-left,
  figure.align_left,
  figure.align-left {
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
  }
  img.align_center,
  img.align-center,
  figure.align_center,
  figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid $main-color;
  }

  /* Headers */

  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
  }
  h1 {
    font-size: $title-font-size;
  }
  h2 {
    font-size: $title-font-size * .73;
  }
  h3 {
    font-size: $title-font-size * .7;
  }
  h4 {
    font-size: $title-font-size * .67;
  }
  h5 {
    font-size: $title-font-size * .63;
  }
  h6 {
    font-size: $title-font-size * .6;
  }

  /* Horizontal line */

  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }

  /* Tables */

  table {
    font-size: .9em;
    width: 100%;
    border: none;
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid rgba(#fff, .3);
    padding: .8em 2em;

    @include media("<desktop") {
      padding: .4em 1.5em;
    }
  }
  thead td,
  th {
    background: $main-color;
    color: #fff;
    font-weight: $text-font-weight;
    border-color: $main-color;
    border-right-color: rgba(#fff, .2);
    text-align: left;

    &:last-child {
      border-right-color: $main-color;
    }
  }
  tbody tr td {
    background: rgba(#000, .05);
  }
  .table-container {
    min-height: .01%;
    overflow-x: auto;
  }

  /* Lists */

  ul, ol {
    padding-left: 1.9em;

    li {
      list-style-type: none;
      margin-top: .5em;
      margin-bottom: .5em;

      &::before {
        display: inline-block;
        line-height: 1;
        margin-left: -1.5em;
        width: 1.5em;
        color: $main-color;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ul {
    li {
      &::before {
        line-height: $text-line-height;
        font-size: 1.2em;
        content: "•";
      }
    }
  }
  ol {
    counter-reset: list;

    li {
      &::before {
        margin-left: -2em;
        width: 2em;
        content: counter(list) ".";
        counter-increment: list;
      }
    }
  }

  /* Vertical margin */

  p, blockquote, ul, ol, table, h1, h2, h3, h4, h5, h6, figure, .table-container {
    @include vmargin(1em);
  }

  /* Marker */

  .marker {
    background-color: lighten($main-color, 30%);
  }
}
