/* Absolute block pseudo-element */

@mixin absolute-block($width: auto, $height: auto) {
  content: "";
  position: absolute;
  display: block;
  width: $width;
  height: $height;
}

/* Vertical margin */

@mixin vmargin($margin: 1em) {
  margin-top: 0;
  margin-bottom: 0;

  &:not(:first-child) {
    margin-top: $margin;
  }
  &:not(:last-child) {
    margin-bottom: $margin;
  }
}

/* Inner */

@mixin inner {
  width: 100%;
  max-width: $max-width;
  padding-left: $inner-padding;
  padding-right: $inner-padding;
  margin-left: auto;
  margin-right: auto;

  @include media("<tablet") {
    padding-left: $inner-padding-phone;
    padding-right: $inner-padding-phone;
  }
  @include media(">=tablet") {
    padding-left: $inner-padding;
    padding-right: $inner-padding;
  }
}

/* Replace string */

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}
